.background{
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url("../images/mockups.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* .bgImg { */
  /* background-image: url("../images/mockups.jpg"); */
  /* display: block-inline;
  height: 80vh;
  width: 80vw;
  z-index: 0;

} */

@font-face {
  font-family: nakadai;
  src: url('../fonts/nakadai.otf');


}

/* @font-face {
    font-family: 'nakadaiitalic';
    src: url(assets/fonts/nakadai_italic-webfont.woff2) format('woff2'),
         url(assets/fonts/nakadai_italic-webfont.woff) format('woff'); */
    /* font-weight: normal;
    font-style: normal; */
/* } */

@keyframes glowing {
  0% { text-shadow: 0.5px 0.5px 4px white;
       transform: skewX(0deg) scaleY(1); }



  100% { text-shadow: 0.5px 0.5px 20px white;
        transform: skewX(-1deg) scaleY(0.99); }
}


/* sol info */

.sol{

  /* defines shape of container */
  /* text-align: center; */
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
  /* grid-template-columns: auto auto auto; */

  padding-top: 22vh;
  padding-left: 39.5vw;


  font-family: nakadai;
  font-weight: bold;

  /* text-shadow: 0.5px 0.5px 4px white; */
  animation: glowing 3s infinite alternate linear;
/*
  border-style: solid; */
  height: 8vh;
  width: 100vw;

}

#solTitle{

  font-size: 3vh;
  padding-left: 0vw;

}

#day {

  font-style: italic;
  display: inline;
  font-size: 5vh;

}

/* season info */

.seeson{
  font-family: nakadai;


  /* src: url(assets/fonts/nakadai.otf) format("opentype"); */
  font-size: 1.5vh;

  position: relative;
  display: inline-block;

  height: 10vh;
  width: 20vw;
  /* border-style: solid; */

  padding-top: 1vh;
  padding-left: 1vw;

}

#Ceason {
  font-style: italic;
  font-size: 3vh;

}


/* BEGIN INFO GRID */
.infoGrid{

  display: flex;
  flex-direction: row;

  padding-left: 5vw;
  padding-top: 1vh;
  padding-bottom: 5vh;

  width: 100vw;
  height: 30vh;

  /* text colour */


  }

  /* NEED TO NEST FLEX BOXES FOR ALL WEATHER ITEMS */

.windGrid{
    font-family: nakadai;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1vw;

    height: 60vh;
    width: 32vw;
  }


/* temperature grid of values */
.tempGrid{
  font-family: nakadai;
  animation: glowing 4s infinite alternate linear;
  /* text-shadow: 0.5px 0.5px 5px white; */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;


  /* overflow: hidden; */
  /* margin: 0vw; */



  /* padding-top: 5vh;
  padding-left: 5vh; */

  height: 60vh;
  width: 40vw;
}

/* temp */
.tempItem:nth-child(1) {

  margin: 1vh;
  text-align: left;

  width: auto;
  height: 3.5vh;

  font-size: 2.5vh;
}

/* minimum */
.tempItem:nth-child(2) {

  /* padding-top: 2%; */
  padding-left: 5%;
  text-align: left;

  width: auto;
  height: 2vh;

  font-size: 2vh;
}

/* value from API */
.tempItem:nth-child(3) {
  width: auto;
  height: 6vh;

  /* padding-top: 2%; */
  padding-left: 5%;
  text-align: left;

  font-size: 4vh;
}


/* degrees , learn how to add with concat in JS*/

/* average */
.tempItem:nth-child(4) {
  width: auto;
  height: 2vh;

  /* padding-top: 5%; */
  padding-left: 5%;
  text-align: left;

  font-size: 2vh;
}

/* average value */
.tempItem:nth-child(5) {
  width: auto;
  height: 6vh;

  /* padding-top: 2%; */
  padding-left: 5%;
  text-align: left;

  font-size: 4vh;
}

/* max */
.tempItem:nth-child(6) {
  width: auto;
  height: 2vh;

  /* padding-top: 5%; */
  padding-left: 5%;
  text-align: left;

  font-size: 2vh;
}

/* average value */
.tempItem:nth-child(7) {
  width: auto;
  height:4vh;

  /* padding-top: 2%; */
  padding-left: 5%;
  text-align: left;

  font-size: 4vh;
}
